/* Color variables */
:root {
    --white-color: #fff;
    --bg-color: #fff;
    --gray-color: #ccc;
  }
  
  /* Changing background color */
  body {
    background: var(--bg-color) !important;
  }
  
  /* Changing link color */
  .nav-item .nav-link {
    color: var(--white-color);
  }
  
  .no-gutter{
    margin-right: 0;
    margin-left: 0;
  }

  .hero {
      height: 100vh;
      position: relative;
      overflow: hidden;
  } 

 
  .hero::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../images/gradIndex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  } 

  .img-circle {
    margin: auto;
    border-radius: 50%;
}

  .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
  }

  #skills i {
    height: 100px;
    width: 100px;
  }
  
  #portfolio img {
    height: 300px;
    object-fit: cover;
  }
  
  #portfolio h3{
    color: #fcbc1d;
  }

  #about .img,
  #about img,
  .hire-text h2 {
    position: relative;
  }
  
  
  #about img,
  #about .hire-text h2 {
    width: 140px;
  }
  
  #about .hire-text h2 {
    height: 140px;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
  }
  
  footer .social-icons a {
    width: 30px;
    height: 30px;
  }
  
  #cv img {
    width: 230px;
  }
  
  /* Contact section background image */
  #contact {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/contact-bg.jpeg");
  }


  /* Pop up */
  .project-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .modal-body img{
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 25px;
}

  .modal-body h3{
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: opacity(0.4);
  }
  
  .project-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71); /* Adjust the overlay color and transparency */
    z-index: 2;
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Adding a smooth transition effect for overlay changes */
  }
  
  .project-box:hover::before {
    opacity: 1; /* Show the overlay on hover */
  }
  
  .project-content {
    position: relative;
    z-index: 3; /* Ensure the content is above the image and overlay during hover */
    padding: 20px;
    color: #000000; /* Default color for the content */
    transition: color 0.3s ease; /* Adding a smooth transition effect for color changes */
  }
  
  .project-box:hover .project-content {
    color: #fff; /* Adjust the color for emphasis during hover */
  }
  
  .project-box:hover {
    box-shadow: 0 0 10px rgba(1, 121, 250, 0.5);
    transform: scale(1.1);
  }

  .project-content h3,
  .project-content p,
  .project-content h4{
    margin: 0;
    font-weight: bold;
  }

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

  @media screen and (max-width: 990px) {
    #skills .card {
      width: calc(100% / 2 - 10px) !important;
    }
  }
 
  @media screen and (max-width: 668px) {
    #skills .card,
    #portfolio .card-wrapper {
      width: 100% !important;
    }

   #about .hire-text h2 {
     height: 70px;
     width: 70px;
   }
   
  }